@font-face {
    font-family: 'mulish';
    src: url('/fonts/Mulish-Regular.ttf') format('woff2');
}

:root{
    --primary: #008080;
    --secondary: #3498db;
    --text: #333333;
    --link: #000000;
    --border: #000000;
    --error: #FF0000;
    --success: #008000;
    --warning: #FFFF00;
    --info: #00FFFF;
    --neutral: #2E2E2E;
    --white: #FFFFFF;
    --black: #000000;

    /* hover */
    --primary-hover: #004949;
    --nav-hover: #FFD700;
    --secondary-hover: #2980b9;
    --error-hover: #2980b9;
    --success-hover: #2980b9;
    --warning-hover: #2980b9;
    --info-hover: #2980b9;

    /* font */
    --font: 'mulish', sans-serif;
    --font-size-desktop: 18px;
    --font-size-tablet: 17px;
    --font-size-mobile: 16px;
    --font-size-small: 15px;

    /* dark */
    --primary-dark: #3498db;
    --secondary-dark: #3498db;
    --border-dark: #000000;
    
    /* light */
    --primary-light: #3498db;
    --secondary-light: #3498db;
    --text-light: #000000;
    --border-light: #000000;
}

body{
    font-family: var(--font) !important;
}

.lc-color-red{
    color: #dc2626;
}
