:root{
    --primary: #1A1A1D;
    --secondary: #4E4E50;
    --primary-text: #C3073F;
    --header-text: #000000;
    --white: #FFFFFF;
    --black: #000000;
    --font: poppins;
    --hover: #4E4E50;
}
* {padding: 0;margin: 0;}
body {font-family: var(--font); max-width: 100%;}
section{padding: 3em;max-width: 100%;}
main {min-height: 500px;}
header {max-width: 100%;height: 70px;background: var(--primary);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
display: flex;align-items: center;justify-content: space-between;padding: 0 3em;}
footer {max-width: 100%;height: auto;background: var(--primary);padding: 2em 3em;}
a{text-decoration: none;}
.header-navigation {display: flex;list-style: none;color: var(--white);}
.header-nav-item{color: var(--white);}
.header-nav-link{color: var(--white);padding: 0 12px;text-decoration: none;cursor: pointer;}
.header-nav-link:hover{color: var(--primary-text)}
.header-nav-active{color: var(--primary-text)}
.header-text {color: var(--primary-text)}

.lc-header{
    font-size: 40px;
    font-size: 2.66666666rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.25em;
    margin: 0;
    text-align: center;
    color: var(--header-text);
}

.lc-blog-card{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    width: 330px;
    height: 400px;
    cursor: pointer;
}

.lc-blog-contain{
    height: 100%;
}

.lc-blog-image{
    height: 200px;
}

.lc-blog-img{
    width: 330px;
    height: 200px;
}

.lc-blog-content{
    padding: 8px;
}

.lc-blog-link{
    text-decoration: none;
    color: #000;
}

.banner{
    background-image: url('/img/landing/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 400px;
    background-color: grey;
}

/*Blog*/
.blog-container{
    max-width: 100%;
    display: flex;
}

.blog-menu {
    width: 20%;
    padding: 1em;
    background-color: #2E2E2E;
}

.blog-content {
    width: 80%;
    min-height: 400px;
    padding: 2em;
}

.blog-content .container{
    width: auto;
}

.btn {
    min-width: 200px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 48px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--primary);
    color: var(--primary-text);
    box-shadow: 0 1px 8px rgba(0,0,0,.16);
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--hover);
}

.search{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

/*Category Start*/

.category-grid{
    display: flex;
}

.category-item{
    height: 210px;
    width: 140px;
    border-radius: 8px;
    padding: 0 1em 0 1em;
    cursor: pointer;
    box-shadow: 0 1px 8px rgba(0,0,0,.16);
    margin: 0.5em;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #E0E5E9;
    background-color: #F2F4F6;
}

/*Category End*/

/*Footer*/
.footer-links{
    display: flex;
    justify-content: center;
}

.footer-nav{
    padding: 1em 3em;
}

.footer-nav-item{
    color: var(--white);
    text-decoration: none;
}

.footer-nav-item:hover{
    color: var(--primary-text);
}

.footer-nav-list{
    list-style: none;
}

.footer-links-header{
    color: var(--white);
}

.footer-copyright{color: var(--white);font-size: 14px;text-align: center; margin-top: 3em}
